.checkedno-indeterminateno-child {
  position: absolute;
  top: calc(50% - 8px);
  left: calc(50% - 8px);
  border-radius: 3.5px;
  background-color: #f2f4f7;
  border: 1.5px solid #d0d5dd;
  box-sizing: border-box;
  width: 16px;
  height: 16px;
}
.checkedno-indeterminateno {
  width: 24px;
  height: 24px;
  overflow: hidden;
}
